WSDL/ModtagDebitorregistreringStraksleveranceService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
		xmlns:oir="urn:oio:kl:kdi:oir:1590_B_V2"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:wsp="http://www.w3.org/ns/ws-policy" 
		xmlns:tns="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/ModtagDebitorregistreringStraksleverance/1/" 
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"  
		xmlns:wsa="http://www.w3.org/2005/08/addressing"  
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
		xmlns:spf="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/"
		targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/ModtagDebitorregistreringStraksleverance/1/"
		name="ModtagDebitorregistreringStraksleveranceService"
		>
	<wsdl:types>
		<xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/ModtagDebitorregistreringStraksleverance/1/">
			<xsd:include schemaLocation="ModtagDebitorregistreringStraksleveranceMsg.xsd"/>
			<xsd:import namespace="urn:oio:kl:kdi:oir:1590_B_V2" schemaLocation="./view/HentDebitorkonto_O.xsd"/>
			<xsd:import namespace="urn:oio:kl:kdi:oir:1590_B_V2" schemaLocation="./view/SogDelfordringTilIndbetaling_O.xsd"/>
			<xsd:import namespace="urn:oio:kl:kdi:oir:1590_B_V2" schemaLocation="./view/SogDebitorRegistrering_O.xsd"/>
			<xsd:import namespace="urn:oio:kl:kdi:oir:1590_B_V2" schemaLocation="./view/DebitorForretningskvittering.xsd"/>
			<xsd:import namespace="urn:oio:kl:kdi:oir:1590_B_V2" schemaLocation="./view/DebitorStraksleveranceTransportkvittering.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://serviceplatformen.dk/xml/schemas/ServiceplatformFault/1/">
			<xsd:include schemaLocation="ServiceplatformFault_1.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OpretRequestMessage">
		<wsdl:part name="parameters" element="tns:OpretRequestType"/>
	</wsdl:message>
	<wsdl:message name="OpretResponseMessage">
		<wsdl:part name="parameters" element="tns:OpretResponseType"/>
	</wsdl:message>
	<wsdl:message name="AfslutAlternativAdresseringRequestMessage">
		<wsdl:part name="parameters" element="tns:AfslutAlternativAdresseringRequestType"/>
	</wsdl:message>
	<wsdl:message name="AfslutAlternativAdresseringResponseMessage">
		<wsdl:part name="parameters" element="tns:AfslutAlternativAdresseringResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutHaeftelseRequestMessage">
		<wsdl:part name="parameters" element="tns:AfslutHaeftelseRequestType"/>
	</wsdl:message>
	<wsdl:message name="AfslutHaeftelseResponseMessage">
		<wsdl:part name="parameters" element="tns:AfslutHaeftelseResponseType"/>
	</wsdl:message>

	<wsdl:message name="ForetagIndbetalingRequestMessage">
		<wsdl:part name="parameters" element="tns:ForetagIndbetalingRequestType"/>
	</wsdl:message>
	<wsdl:message name="ForetagIndbetalingResponseMessage">
		<wsdl:part name="parameters" element="tns:ForetagIndbetalingResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutMaterialeModtagerRequestMessage">
		<wsdl:part name="parameters" element="tns:AfslutMaterialemodtagerRequestType"/>
	</wsdl:message>
	<wsdl:message name="AfslutMaterialeModtagerResponseMessage">
		<wsdl:part name="parameters" element="tns:AfslutMaterialemodtagerResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutLigestillingspartnerRequestMessage">
		<wsdl:part name="parameters" element="tns:AfslutLigestillingspartnerRequestType"/>
	</wsdl:message>
	<wsdl:message name="AfslutLigestillingspartnerResponseMessage">
		<wsdl:part name="parameters" element="tns:AfslutLigestillingspartnerResponseType"/>
	</wsdl:message>

	<wsdl:message name="RetTilstandRequestMessage">
		<wsdl:part name="parameters" element="tns:RetTilstandRequestType"/>
	</wsdl:message>
	<wsdl:message name="RetTilstandResponseMessage">
		<wsdl:part name="parameters" element="tns:RetTilstandResponseType"/>
	</wsdl:message>


	<wsdl:message name="HentDebitorkontoRequestMessage">
		<wsdl:part name="parameters" element="tns:HentDebitorkontoRequestType"/>
	</wsdl:message>
	<wsdl:message name="HentDebitorkontoResponseMessage">
		<wsdl:part name="parameters" element="tns:HentDebitorkontoResponseType"/>
	</wsdl:message>


	<wsdl:message name="SogDelfordringTilIndbetalingRequestMessage">
		<wsdl:part name="parameters" element="tns:SogDelfordringTilIndbetalingRequestType"/>
	</wsdl:message>
	<wsdl:message name="SogDelfordringTilIndbetalingResponseMessage">
		<wsdl:part name="parameters" element="tns:SogDelfordringTilIndbetalingResponseType"/>
	</wsdl:message>


	<wsdl:message name="SogDebitorRegistreringRequestMessage">
		<wsdl:part name="parameters" element="tns:SogDebitorRegistreringRequestType"/>
	</wsdl:message>
	<wsdl:message name="SogDebitorRegistreringResponseMessage">
		<wsdl:part name="parameters" element="tns:SogDebitorRegistreringResponseType"/>
	</wsdl:message>


	<wsdl:message name="DebitorForretningskvittering">
		<wsdl:part name="parameters" element="oir:DebitorForretningskvittering"/>
	</wsdl:message>

	<wsdl:message name="StraksleveranceTransportkvittering">
		<wsdl:part name="parameters" element="oir:StraksleveranceTransportkvittering"/>
	</wsdl:message>
	
	<wsdl:message name="ServiceplatformFault">
		<wsdl:part name="spfault" element="spf:ServiceplatformFault"/>
	</wsdl:message>

	<wsdl:portType name="ModtagDebitorregistreringStraksleveranceServicePort">
		<wsdl:operation name="Opret">
			<wsdl:input message="tns:OpretRequestMessage"/>
			<wsdl:output message="tns:OpretResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<wsdl:input message="tns:AfslutAlternativAdresseringRequestMessage"/>
			<wsdl:output message="tns:AfslutAlternativAdresseringResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<wsdl:input message="tns:AfslutHaeftelseRequestMessage"/>
			<wsdl:output message="tns:AfslutHaeftelseResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<wsdl:input message="tns:ForetagIndbetalingRequestMessage"/>
			<wsdl:output message="tns:ForetagIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<wsdl:input message="tns:AfslutMaterialeModtagerRequestMessage"/>
			<wsdl:output message="tns:AfslutMaterialeModtagerResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutLigestillingspartner">
			<wsdl:input message="tns:AfslutLigestillingspartnerRequestMessage"/>
			<wsdl:output message="tns:AfslutLigestillingspartnerResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<wsdl:input message="tns:RetTilstandRequestMessage"/>
			<wsdl:output message="tns:RetTilstandResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<wsdl:input message="tns:HentDebitorkontoRequestMessage"/>
			<wsdl:output message="tns:HentDebitorkontoResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<wsdl:input message="tns:SogDelfordringTilIndbetalingRequestMessage"/>
			<wsdl:output message="tns:SogDelfordringTilIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<wsdl:input message="tns:SogDebitorRegistreringRequestMessage"/>
			<wsdl:output message="tns:SogDebitorRegistreringResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="tns:StraksleveranceTransportkvittering"/>
			<wsdl:fault name="ServiceplatformFault" message="tns:ServiceplatformFault"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ModtagDebitorregistreringStraksleveranceServiceBinding" type="tns:ModtagDebitorregistreringStraksleveranceServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Opret">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutLigestillingspartner">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
			<wsdl:fault name="ServiceplatformFault">
				<soap:fault name="ServiceplatformFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsp:Policy wsu:Id="STS_SAML_Token_policy_optional">
		<sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy wsp:Optional="true">
				<sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<!-- Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
					<sp:Issuer>
						<wsa:Address>https://url-til-sts</wsa:Address>
					</sp:Issuer>
					<sp:RequestSecurityTokenTemplate>
						<trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
					</sp:RequestSecurityTokenTemplate>
					<wsp:Policy>
						<sp:RequireInternalReference/>
					</wsp:Policy>
				</sp:IssuedToken>
				<sp:IncludeTimestamp/>
				<sp:ProtectTokens />
				<sp:OnlySignEntireHeadersAndBody/>
			</wsp:Policy>
		</sp:SignedSupportingTokens>
	</wsp:Policy>
	<!-- TLS policy for communicating with SP -->
	<wsp:Policy wsu:Id="TLS_policy">
		<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:TransportToken>
					<wsp:Policy>
						<sp:HttpsToken RequireClientCertificate="true"/>
					</wsp:Policy>
				</sp:TransportToken>
				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:Basic128/>
					</wsp:Policy>
				</sp:AlgorithmSuite>
			</wsp:Policy>
		</sp:TransportBinding>
	</wsp:Policy>

	
		<!-- Input policy for signing input -->
	<wsp:Policy wsu:Id="Input_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body/>
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
	<wsdl:service name="ModtagDebitorregistreringStraksleveranceService">
		<wsdl:port name="ModtagDebitorregistreringStraksleveranceServicePort" binding="tns:ModtagDebitorregistreringStraksleveranceServiceBinding">
			<soap:address location="http://localhost:8080/service/OIR/ModtagDebitorregistreringStraksleverance/1"/>
		    <wsp:PolicyReference URI="#TLS_policy"/>
		</wsdl:port>
	</wsdl:service>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Version 1.0 of the API for the ModtagDebitorregistreringStraksleveranceService
    	</xsd:documentation>
	</xsd:annotation>
</wsdl:definitions>
